*{
    margin: 0;
    padding: 0;

}
header{
    height: 80px;
    padding: 0px 5px;
    align-items: center;
    display: flex;
    width: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 600px;
    height: auto;
    margin-right: auto;
}
.logo h1{
    font-size: 40px;
    color: #06c167;
}
.nav button{
    border-radius: 10px;
    height: 50px;
    width: 120px;
    background-color: #06c167;
    border: none;
    margin: 0 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav li{
    list-style-type: none;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: white;
}

/* main */
main{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    margin-right: 200px;
}
.profile_box h1{
    font-size: 30px;
    height: 46px;
}
hr{
    background-color:#06c167;
}
.info{
    height: 144px;
    font-size: 14px;
    padding:  10px;
}
.info p{
    font-size: 24px;
}
.Profile_box button{
    background-color: #06c167;
    height: 40px;
    width: 100px;
    margin: 6px 0 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
}
.Profile_box a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.Profile_box p{
    height: 42px;
    width: 660px;
    font-size: 30px;

}
.table thead{
    height: 45px;
    background-color: #06c167;
    width: 120px;
}
table{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 600px;
}
.table th{
    font-size: 14px;
    padding: 12px;
    color: black;
}